.container {
  width: 960px;
  margin: 0 auto;
  height: 100%;
}

/*Refactor: Cannot work*/
.grid-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: calc(100% - 100px);
}

.grid-1-of-3 {
  width: $side-bar-width;
}

.grid-2-of-3 {
  width: $result-view-width;
}

@media screen and (max-width: 960px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .grid-1-of-3 {
    width: 40%;
  }

  .grid-2-of-3 {
    width: 100%;
  }
}

@media screen and (max-width: 416px) {
  .grid-container {
    flex-direction: column;
  }
  .grid-1-of-3 {
    width: 100%;
  }

  .grid-2-of-3 {
    width: 100%;
  }
}
