.container {
  width: 960px;
  margin: 0 auto;
  height: 100%;
}

/*Refactor: Cannot work*/
.grid-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: calc(100% - 100px);
}

.grid-1-of-3 {
  width: $side-bar-width;
}

.grid-2-of-3 {
  width: $result-view-width;
}
